<div id="plans">
  <% @plans.each do |plan| %>
      <div class="plan">
        <div class="name"><%= plan.name %></div>
        <div class="details">
          <div class="price">
            &#8377;<%= "#{plan.price }"%>
          </div>
          <div class="per_month">per month</div>
          <div class="kisses"><%= plan.no_courses%> Courses</div>
          <hr/>
          <div class="kisses"><%= plan.no_students%> Students</div>
          <hr/>
          <div class="kisses"><%= plan.no_teachers%> Teachers</div>
          <hr/>
          <div class="kisses"><%= plan.no_admins%> Admins</div>
          <hr/>
          <div class="kisses"><%= plan.storage%> Storage</div>

          <div class="signup">
            <%= link_to "Subscribe", "#" %>
          </div>
        </div>
      </div>
  <% end %>

  <div class="clear"></div>
</div>
