<% unless session['no_header']  %>
<div class="navbar">
  <div class="navbar-inner" style="border-radius: 0px;background: #eceef1;">
    <div class="container">
      <a class="brand" href="#">Arrivu Corporate lms </a>
      <% if user_signed_in?%>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="<%= organizations_path%>">Organizations</a></li>
          <li><a href="<%= external_configs_path %>">External Config</a></li>
          <li><a href="<%= domains_path %>">Domains</a></li>
          <li><a href="<%= user_configs_path %>">User Configs</a></li>

        </ul>

        <ul class="nav pull-right">
          <li><a href="#"><%= current_user.name %></a></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: "delete" %></li>
        </ul>
         <% end  %>
      </div>
    </div>
  </div>
</div>
<% end  %>