<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">Arrivu LMS Subscription Plans </a>
      <% if user_signed_in?%>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <!--<li><a href="../charging/show">Charging</a></li>-->
          <!--<li><a href="../query/show">Query</a></li>-->
          <!--<li><a href="../refund/show">Refund</a></li>-->
          <li><a href="<%= organizations_path%>">Organizations</a></li>
          <li><a href="<%= external_configs_path %>">External Config</a></li>
          <li><a href="<%= domains_path %>">Domains</a></li>
          <li><a href="<%= user_configs_path %>">User Configs</a></li>
          <li><a href="<%= feature_sets_path %>">Manage feature list</a></li>
          <li><a href="<%= pre_index_subscription_plans_path %>">Subscription Plan</a></li>


        </ul>

        <ul class="nav pull-right">
          <li><a href="#"><%= current_user.name %></a></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: "delete" %></li>
        </ul>
         <% end  %>
      </div>
    </div>
  </div>
</div>
