<!DOCTYPE html>
<html>
<head>
  <title>RailsSdkPayzippy</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<div class="container-fluid">
<% unless response.cache_control[:public] %>
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
<% end %>

<%= yield %>
</div>
</body>
</html>
